@import "tailwindcss";

body {
  background: #ffffff;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}
